<ion-app>
  <app-header [title]="'Reminders'"></app-header>
  <ion-content [fullscreen]="true" color="oilblack">
    <!-- new reminder card -->
    <ion-card class="newReminderCard" color="oilblack" [@slideUp]="slideState">
      <ion-button
        color="offwhite"
        expand="block"
        class="newReminderBtn"
        [routerLink]="['/new-task']"
      >
        New reminder +
      </ion-button>
    </ion-card>

    <!-- new reminder modal -->
    <!--
    <ion-modal #modal (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-header class="modalHeader">
          <ion-toolbar class="modalToolbar" color="oilblack">
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-title>Reminder</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="submitReminder()" class="confirm-button"
                >Confirm</ion-button
              >
            </ion-buttons>
          </ion-toolbar>
        </ion-header>

        <ion-content class="ion-padding" color="oilblack">
          <ion-card class="dateTimeCard" color="oilblack">
            <ion-label position="stacked">Time</ion-label>
            <ion-datetime
              [(ngModel)]="reminder.time"
              color="oilblack"
              presentation="time"
              placeholder="Select Time"
              class="dateTimeInput"
            ></ion-datetime>
            <ion-button
              id="click-trigger"
              color="oilblack"
              class="popoverTrigger"
            >
              <ion-icon aria-hidden="true" name="calendar"></ion-icon>
            </ion-button>

            <ion-popover
              trigger="click-trigger"
              triggerAction="click"
              id="popover-bottom"
            >
              <ng-template>
                <ion-content class="ion-padding" color="oilblack">
                  <ion-label position="stacked" class="dateTimeLabel"
                    >Date</ion-label
                  >
                  <ion-datetime
                    [(ngModel)]="reminder.date"
                    presentation="date"
                    placeholder="Select Date"
                    class="dateTimeInput"
                  ></ion-datetime>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-card>

          <ion-item>
            <ion-label position="stacked">Name</ion-label>
            <ion-input [(ngModel)]="reminder.name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Description</ion-label>
            <ion-input [(ngModel)]="reminder.description"></ion-input>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-modal> -->

    <!-- Reminders list card -->
    <ion-card class="reminderListCard" color="oilblack" [@slideUp]="slideState">
      <ion-card-header>
        <ion-card-title>Reminders</ion-card-title>
      </ion-card-header>
      <ion-accordion-group>
        <ion-accordion>
          <ion-item slot="header" color="oilblack">
            <ion-label>Name</ion-label>
            <ion-note slot="end"> R date - R time </ion-note>
          </ion-item>
          <ion-item slot="content" color="oilblack">
            <ion-label
              >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum,
              consequatur possimus quidem quos corporis est perspiciatis nulla
              recusandae beatae sunt, quisquam fugiat assumenda, repudiandae
              molestias quae neque aperiam id. Ipsum.</ion-label
            >
          </ion-item>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card>
  </ion-content>
</ion-app>
