.newReminderCard {
  //shape
  height: 90px;
  // positioning
  display: flex;
  justify-content: center;
  align-items: center;
}

.newReminderBtn {
  // shape
  width: 80%;
  // positioning
  margin-left: 15px;
  margin-right: 15px;
  padding: 0;
  border-radius: 30px;
}

.reminderListCard {
  // positioning
  height: auto;
}

// New reminder Modal
.dateTimeCard {
  padding: 16px;
  border-radius: 18px;
  position: relative;
}

.dateTimeInput {
  border-radius: 18px;
  width: 100%;
  margin-top: 5px;
}

.popoverTrigger {
  position: absolute;
  bottom: 5px;
  right: 5px;
  --background: rgb(26, 26, 26);
}

ion-popover {
  --background: rgba(0, 0, 0, 0);
  --backdrop-opacity: 0;
  --box-shadow: none;
  --color: inherit;
}

ion-popover#popover-bottom::part(content) {
  top: unset !important;
  left: 10 !important;
  bottom: 50;
  width: auto;
  border-radius: 10;
}

.dateTimeLabel {
  margin-bottom: 10px;
}
