.newReminderCard {
    //shape
    height: 90px;
    // positioning
    display: flex;
    justify-content: center;
    align-items: center;
}

.newReminderBtn {
    // shape
    width: 80%;
    // positioning
    margin-left: 15px;
    margin-right: 15px;
}