<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reminders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reminders</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- new reminder card -->
  <ion-card class="newReminderCard">
    <ion-button
      id="reminder-modal"
      expand="block"
      color="success"
      class="newReminderBtn"
      (click)="modal.present()"
    >
      New reminder +
    </ion-button>
  </ion-card>

  <!-- new reminder modal -->
  <ion-modal #modal (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Reminder</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="submitReminder()" class="confirm-button"
              >Confirm</ion-button
            >
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Name</ion-label>
          <ion-input [(ngModel)]="reminder.name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Description</ion-label>
          <ion-input [(ngModel)]="reminder.description"></ion-input>
        </ion-item>
        <ion-card class="dateTimeCard">
          <ion-label position="stacked">Date</ion-label>
          <ion-datetime
            [(ngModel)]="reminder.date"
            presentation="date"
            placeholder="Select Date"
            class="dateTimeInput"
          ></ion-datetime>
        </ion-card>
        <ion-card class="dateTimeCard">
          <ion-label position="stacked">Time</ion-label>
          <ion-datetime
            [(ngModel)]="reminder.time"
            presentation="time"
            placeholder="Select Time"
            class="dateTimeInput"
          ></ion-datetime>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Reminders list card -->
  <ion-card class="reminderListCard">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Reminders</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-accordion-group>
      <ion-accordion *ngFor="let reminder of reminders">
        <ion-item slot="header">
          <ion-label>{{ reminder.name }}</ion-label>
          <ion-note slot="end">
            {{ getFormattedDate(reminder.date) }} - {{ reminder.time }}
          </ion-note>
        </ion-item>
        <ion-item slot="content">
          <ion-label>{{ reminder.description }}</ion-label>
        </ion-item>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card>
</ion-content>
