ion-title {
    margin-left: 25px;
    margin-bottom: 15px;
    margin-top: 10px;
    justify-self: left;
    width: fit-content;
    height: max-content;
    position: relative;
}

ion-toolbar {
    height: 60px;
}
