@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cardProfilePicture {
  width: 70px;
  border-radius: 50%;
  margin-right: 10px;
}

.cardUsername {
  display: flex;
  align-items: center;
  animation: fadeIn 1.5s ease-in;
}