<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="calendar" href="/tabs/calendar">
      <ion-icon aria-hidden="true" name="calendar-number-outline" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home-outline" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="map" href="/tabs/map">
      <ion-icon aria-hidden="true" name="map-outline" size="large"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
