<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="calendar" href="/tabs/calendar">
      <ion-icon aria-hidden="true" name="calendar"></ion-icon>
      <ion-label>Calendar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reminders" href="/tabs/reminders">
      <ion-icon aria-hidden="true" name="notifications"></ion-icon>
      <ion-label>Reminders</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tasks" href="/tabs/tasks">
      <ion-icon aria-hidden="true" name="notifications"></ion-icon>
      <ion-label>Tasks</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
