<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="calendar" href="/tabs/calendar">
      <ion-icon aria-hidden="true" name="calendar" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="reminders" href="/tabs/reminders">
      <ion-icon aria-hidden="true" name="notifications" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tasks" href="/tabs/tasks">
      <ion-icon aria-hidden="true" name="logo-buffer" size="large"></ion-icon>
    </ion-tab-button>
    <!--
    <ion-tab-button tab="animations" href="/tabs/animations">
      <ion-icon aria-hidden="true" name="brush" size="large"></ion-icon>
    </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>
