// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

/* Set variables for all modes */
:root {
  /* Set the background of the entire app */
  --ion-background-color: red;

  /* Set the font family of the entire app */
  --ion-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "Roboto", sans-serif;
}

/* Set text color of the entire app for iOS only */
:root.ios {
  --ion-text-color: #000;
}

/* Set text color of the entire app for Material Design only */
:root.md {
  --ion-text-color: #222;
}

/* Global Components */

ion-toolbar {
  --background: #d8d8d8;
}

ion-title {
  --color: #0e0e0e;
  font-weight: bold;
  font-size: 32px;
}

ion-content {
  --background: #d8d8d8;
}

ion-tab-bar {
  --background: #d8d8d8;
}

ion-tab-button {
  --color: rgb(41, 41, 41);
}

ion-card {
  --background: #b4b4b4;
  --color: #0e0e0e;
  border-radius: 15px;
}

ion-card-header {
  --background: #b4b4b4;
}

ion-card-title {
  --color: #0e0e0e;
  font-weight: bold;
  font-size: 27px;
}

ion-card-subtitle {
  --color: #0e0e0e;
}

ion-card-content {
  --color: black;
  --background: black;
}

ion-list {
  --background: black;
}

ion-item {
  --background: black;
}
