<ion-header> </ion-header>

<ion-content>
  <div class="content">
    <div class="animation">
      <ion-card color="oilblack">
        <ion-card-header>
          <ion-card-title>Register</ion-card-title>
        </ion-card-header>
        <p>Create your account</p>

        <ion-card-content>
          <ion-input
            label="Username"
            labelPlacement="stacked"
            placeholder="Create username"
            type="text"
            color="tangerine"
            fill="outline"
            shape="round"
            [(ngModel)]="username"
          ></ion-input>

          <ion-input
            label="Email"
            labelPlacement="stacked"
            placeholder="example@gmail.com"
            type="email"
            fill="outline"
            shape="round"
            [(ngModel)]="email"
          ></ion-input>

          <ion-input
            label="Password"
            labelPlacement="stacked"
            placeholder="Create a password"
            type="password"
            color="tangerine"
            fill="outline"
            shape="round"
            [(ngModel)]="password"
          ></ion-input>
        </ion-card-content>
      </ion-card>

      <ion-card color="oilblack" class="buttonCard">
        <ion-button (click)="register()" color="tangerine">
          Register
          <ion-icon aria-hidden="true" name="log-in" size="large"> </ion-icon>
        </ion-button>
        <ion-button (click)="redirectLogin()" color="primary">
          Already have an account?
          <ion-icon aria-hidden="true" name="log-in" size="large"> </ion-icon>
        </ion-button>
      </ion-card>
    </div>
  </div>
</ion-content>

<ion-footer> </ion-footer>
