.dateTimeCard {
  // shape
  padding: 16px;
  border-radius: 18px;
  // positioning
  display: flex;
}

.dateTimeInput {
  // shape
  border-radius: 18px;
  // positioning
  margin: auto;
  margin-top: 5px;
}
ion-fab-button {
  --background: #f08000;
  --background-activated: #f08000;
  --background-hover: #f08000;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --color: black;
}
//si
.week-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.days-carousel {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.selected {
  color: red;
  font-weight: bold;
}

.today {
  color: green;
}

.month-year-selector {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.week-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.week-days {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

button:hover {
  color: #007BFF;
}

//si
ion-card {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

ion-card-header {
  background-color: white;
}

ion-card-content {
  background-color: white;
  padding: 10px;
}