<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Calendar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="offwhite">
  <ion-header collapse="condense" color="offwhite">
    <ion-toolbar color="offwhite">
      <ion-title size="large">Calendar</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card color="offwhite">
    <ion-card-content class="dateTimeCard">
      <ion-datetime class="dateTimeInput" color="offwhite"></ion-datetime>
    </ion-card-content>
  </ion-card>

  <ion-card>
    
  </ion-card>

</ion-content>