.dateTimeCard {
  // shape
  padding: 16px;
  border-radius: 18px;
  // positioning
  display: flex;
}

.dateTimeInput {
  // shape
  border-radius: 18px;
  // positioning
  margin: auto;
  margin-top: 5px;
}
ion-fab-button {
  --background: #f08000;
  --background-activated: #f08000;
  --background-hover: #f08000;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --color: black;
}

ion-card {
  transition: all 0.3s ease-in-out;
}

.datetime-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-card-title {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

.task-icon {
  margin-right: 5px;
}

.task-button {
  --border-radius: 50%;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  margin: 7px;
}

.task-buttons {
  display: flex;
  justify-content: end;
}