<ion-app>
  <app-header [title]="'Calendar'"></app-header>
  <ion-content [fullscreen]="true" color="oilblack">
    <div class="slideUp" [@slideUp]="slideState">
      <div class="datetime-container">
        <ion-datetime presentation="date"></ion-datetime>
      </div>

      <ion-card color="oilblack">
        <ion-card-header>
          <ion-card-title class="remindersTitle"> Reminders </ion-card-title>
        </ion-card-header>
      </ion-card>

      <ion-card color="oilblack" *ngFor="let reminder of reminders">
        <ion-card-header>
          <ion-card-title>
            <ion-icon
              [name]="reminder.taskIcon"
              size="large"
              class="task-icon"
            ></ion-icon>
            {{ reminder.taskTitle }}
          </ion-card-title>
          <ion-card-subtitle
            *ngIf="reminder.repeatWeekly && reminder.weeklyDays.length > 0 && !reminder.locationBased"
          >
            <ion-note>
              {{ formatTime(reminder.weeklyTime) }} Every {{
              filterWeeklyDays(reminder.weeklyDays).join(', ') }}
            </ion-note>
          </ion-card-subtitle>

          <ion-card-subtitle *ngIf="reminder.locationBased">
            <ion-note>
              <ion-icon slot="start" name="location-outline"></ion-icon>
              {{ reminder.location || 'Location name' }}
            </ion-note>
          </ion-card-subtitle>

          <ion-card-subtitle
            *ngIf="reminder.specificDate && !reminder.repeatWeekly && !reminder.locationBased"
          >
            <ion-note>{{ reminder.specificDate | date: 'MMMM d, y' }}</ion-note>
          </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <p>{{ reminder.taskDescription }}</p>
        </ion-card-content>
        <div class="task-buttons">
          <ion-button color="offwhite" class="task-button">
            <ion-icon name="pencil" size="large"></ion-icon>
          </ion-button>
          <ion-button color="danger" class="task-button">
            <ion-icon name="trash" size="large"></ion-icon>
          </ion-button>
        </div>
      </ion-card>

      <ion-card color="oilblack">
        <ion-card-header>
          <ion-card-title>
            <ion-icon name="happy" size="large" class="task-icon"></ion-icon>
            Title
          </ion-card-title>
          <ion-note>May 20, 2020</ion-note>
        </ion-card-header>

        <ion-card-content>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia
            voluptatibus eos ducimus eaque reiciendis voluptatem nisi deleniti
            nihil sed blanditiis quibusdam reprehenderit unde exercitationem,
            cupiditate praesentium facere adipisci. Voluptates, esse.
          </p>
        </ion-card-content>
        <div class="task-buttons">
          <ion-button color="offwhite" class="task-button">
            <ion-icon name="pencil" size="large"></ion-icon>
          </ion-button>
          <ion-button color="danger" class="task-button">
            <ion-icon name="trash" size="large"></ion-icon>
          </ion-button>
        </div>
      </ion-card>
    </div>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button>
        <ion-icon name="add" size="large"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button>
          <ion-icon
            name="map-outline"
            size="large"
            [routerLink]="['/new-location']"
          ></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon
            name="alarm-outline"
            size="large"
            [routerLink]="['/new-task']"
          ></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </ion-content>
</ion-app>
