<ion-app>
  <app-header [title]="'Task'"></app-header>
  <ion-content [fullscreen]="true" color="oilblack">
    
    <div class="month-year-selector">
      <ion-item>
        <ion-select [(ngModel)]="selectedMonth" (ionChange)="onMonthChange()">
          <ion-select-option *ngFor="let month of months" [value]="month.value">{{ month.name }}</ion-select-option>
        </ion-select>
        <span>{{ selectedYear }}</span> <!-- Muestra el año actual sin selector -->
      </ion-item>
    </div>
    <div class="week-container">
      <button (click)="prevWeek()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </button>
    
      <div class="days-carousel">
        <div 
          *ngFor="let day of currentWeek; let i = index" 
          [ngClass]="{
            'selected': selectedDay === day.date,
            'today': isToday(day.date)
          }"
          (click)="selectDay(day.date)">
          {{ day.label }} <br>
          {{ day.date.getDate() }}
        </div>
      </div>
    
      <button (click)="nextWeek()">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </button>
    </div>

    <p>Reminders</p>

    <ion-card [@slideUp]="slideState" (click)="toggleAccordion()">
      <ion-card-header>
        <ion-item lines="none">
          <ion-icon name="bed-outline" size="large" slot="start"></ion-icon>
          <ion-card-content>
            Hacer la cama
          </ion-card-content>
          <ion-card-content>
            06:20am
          </ion-card-content>
        </ion-item>
      </ion-card-header>
    
      <ion-card-content *ngIf="isOpen">
        <p>Esta es la información adicional que se despliega cuando se presiona la card.</p>
      </ion-card-content>

    </ion-card>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button>
        <ion-icon name="add" size="large"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top"> 
        <ion-fab-button>
          <ion-icon name="map-outline" size="large"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="alarm-outline" size="large" [routerLink]="['/new-task']"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

  </ion-content>
</ion-app>
