.cardProfilePicture {
  width: 70px;
  border-radius: 50%;
  margin-right: 10px;
}

.cardUsername {
  display: flex;
  align-items: center;
}

.checkReminders {
  display: flex;
  margin-left: auto;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 120px;
  border: none;
  font-size: 14px;
}