<app-header [title]="'New task'"></app-header>
<ion-content color="oilblack">
  <ion-card color="oilblack">
    <ion-card-header>
      <ion-card-title> Create new task</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-input label="Title" labelPlacement="floating"></ion-input>
      <ion-textarea
        label="Description"
        labelPlacement="floating"
        rows="3"
      ></ion-textarea>
    </ion-card-content>
  </ion-card>
  <ion-accordion-group color="oilblack">
    <ion-accordion color="oilblack">
      <ion-item slot="header" color="oilblack"> Select date & time </ion-item>
      <div class="ion-padding" id="dateAccordion" slot="content">
        <ion-select
          [(ngModel)]="selectedDays"
          (ionChange)="repeatSelect()"
          multiple="true"
          placeholder="Don't repeat weekly"
        >
          <div slot="label">Repeat Weekly</div>
          <ion-select-option value="monday">Monday</ion-select-option>
          <ion-select-option value="tuesday">Tuesday</ion-select-option>
          <ion-select-option value="wednesday">Wednesday</ion-select-option>
          <ion-select-option value="thursday">Thursday</ion-select-option>
          <ion-select-option value="friday">Friday</ion-select-option>
          <ion-select-option value="saturday">Saturday</ion-select-option>
          <ion-select-option value="sunday">Sunday</ion-select-option>
          <ion-select-option value="location">Location based</ion-select-option>
        </ion-select>
        <ion-item color="oilblack">
          <ion-datetime *ngIf="!repeatWeekly && !locationBased"></ion-datetime>
          <ion-datetime
            presentation="time"
            class="timePicker"
            color="offwhite"
            *ngIf="repeatWeekly && !locationBased"
          ></ion-datetime>
        </ion-item>
      </div>
    </ion-accordion>
    <ion-accordion color="oilblack" *ngIf="locationBased">
      <ion-item slot="header" color="oilblack"> Select ubication </ion-item>
      <div class="ion-padding" id="dateAccordion" slot="content">
        <ion-item color="oilblack">
          <ion-label> *Place map* </ion-label>
        </ion-item>
        <ion-item color="oilblack">
          <ion-select placeholder="Select Range">
            <div slot="label">Range (meters)</div>
            <ion-select-option value="15">15 m</ion-select-option>
            <ion-select-option value="30">30 m</ion-select-option>
            <ion-select-option value="50">50 m</ion-select-option>
            <ion-select-option value="100">100 m</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </ion-accordion>
    <ion-accordion color="oilblack">
      <ion-item slot="header" color="oilblack"> Select Icon </ion-item>
      <div class="ion-padding" id="icon-sheet" slot="content">
        <ion-grid>
          <ion-row>
            <ion-col size="2" id="icons-col" *ngFor="let icon of icons" (click)="selectIcon(icon)">
              <ion-icon [name]="icon" id="icons" [class.selectedIcon]="selectedIcon === icon" size="large"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-card color="oilblack">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button
            color="danger"
            class="doneButtons"
            [routerLink]="['/tabs/home']"
          >
            Cancel
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button
            color="offwhite"
            class="doneButtons"
            [routerLink]="['/tabs/home']"
          >
            Done
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
