#dateAccordion {
  background-color: #0c0c0c;
}

.doneButtons {
  width: 100%;
}

ion-datetime {
  --background: #0c0c0c;
  --wheel-highlight-background: rgba(255, 180, 40, 0.400);
  --wheel-highlight-border-radius: 48px;
  --wheel-fade-background-rgb: #0c0c0c;
  width: auto;
  margin: 0 auto;
}

ion-datetime::part(wheel-item) {
  color: #FAF9F6;
}

#icon-sheet {
  background-color: #0c0c0c;
}

#icons-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

#icons {
  box-sizing: border-box;
  border: 2px solid transparent;
}

.selectedIcon {
  border: 2px solid var(--ion-color-tangerine) !important;
  border-radius: 50%;
}

.repeatTimePicker, .specificDatetimePicker {
  display: flex;
  justify-content: center;
  width: 100%;
}

ion-item.selectDateTime {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

